<!DOCTYPE html>
<html>
<head>
	<title>Subash Blog</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<div class="navbar-brand"><i class="fa fa-code fa-lg" aria-hidden="true"></i>Subash</div>
			<button data-toggle="collapse" data-target="#naval" class="navbar-toggle collapsed">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="naval">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/blogs/new">New</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/register">Sign Up <i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
				<li><a href="/login">Login <i class="fa fa-user" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>	
</nav>